h1 {
  text-align: center;
}
p {
  margin: 0;
  padding: 0;
}
.top {
  height: 300px;
  .title {
    color: #535354;
    font-weight: 500;
    margin-left: 20px;
    font-size: 20px;
  }
  .desc {
    font-size: 14px;
    margin-left: 20px;
    color: #999;
  }
}
.gardBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .grade {
    padding: 30px;
    background-color: #eefff6;
    margin-right: 50px;
    margin-top: 50px;
    border-radius: 20px;
    cursor: pointer;
    &:hover {
      background-color: #73ae8e;
    }
  }
  img {
    width: 110px;
    height: 110px;
  }
}

.bottom {
  height: 600px;
  .title {
    color: #535354;
    font-weight: 500;
    margin-left: 20px;
    font-size: 20px;
  }
  .desc {
    font-size: 14px;
    margin-left: 20px;
    color: #999;
  }
  .grade{
    background-color: #fff4f2;
    &:hover {
      background-color: #eda79b;
    }
  }
}
