
.header {
  height: 400px;
  width: 100%;
  background: url(../../assets/image/headBg.jpg);
  background-size: cover;
  .userContent {
    text-align: center;
    padding: 30px;
  }
  .portrait {
    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit:cover;
    }
  }
  .userName {
    padding: 10px;
    font-size: 25px;
    font-weight: 700;
    color: #0f7f34;
  }
  .userDesc {
    padding: 20px;
    color: #287b63;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
  }
}

.twoMainTab {
  margin-top: -70px;
  position: sticky;
  top: 0;
  .routerTab {
    height: 70px;
    line-height: 70px;
    display: flex;
    justify-content: space-between;
  }

  .childRoute {
    flex: 1;
    background-color: #5c9f8c;
    border-radius: 50px 50px 0 0;
    text-align: center;
    color: #fff;
    font-size: 24px;
  }
  .activeRoute {
    background-color: #0f7f34;
  }
  .subjectTab {
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0;
    background-color: #e7f2ea;
    // background-color: rgba($color: #0f7f34, $alpha: 0.1);
    div {
      padding: 10px;
      text-align: center;
      cursor: pointer;
    }
    .sub_active {
      border-bottom: 5px solid #5c9f8c;
      border-radius: 10px;
      background-color: rgba($color: #5c9f8c, $alpha: 0.4);
      color: #fff;
    }
  }
}


.box {
  padding: 20px;
  .title {
    font-size: 18px;
    font-weight: 700;
    color: #5c9f8c;
  }
  .type {
    color: #0f7f34;
    font-size: 14px;
  }
  .content {
    line-height: 30px;
  }
}
