.contianer{
  width: 80vw;
}
.site-back-top-basic {
  color: rgba(64, 64, 64, 0.6);
}
.goUp{
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 4px;
  background-color: #1088e9;
  color: #fff;
  text-align: center;
  font-size: 14px;
}
.rightBox {
  width: 80%;
  position: fixed;
  top: 0;
  left: 200px;
  overflow: hidden;
  background-color: #eefff6;
  .lis {
    white-space: nowrap; //当文字一行显示

    .anch {
      display: flex;
      height: 84px;
    }

    .progress {
      display: inline-block;
      flex: 1;
      box-sizing: border-box;
      padding: 0px;
      border-right: 1px solid #209e85;;
      a{
        padding: 20px;
      }
    }
  }

  //隐藏滚动条
  // ::-webkit-scrollbar {
  //   width: 0;
  //   height: 0;
  //   opacity: 0;
  // }
}

.contianer {
  position: relative;
}

.sides {
  padding: 30px 50px 30px 30px;

  p {
    color: #209e85;
    font-size: large;
  }

  .line {
    height: 50px;
    line-height: 50px;
    padding-left: 30px;
    border-bottom: 1px dashed #209e85;
    cursor: pointer;

    &:hover {
      background-color: #9ad4cd;
    }
  }
}
