.list {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border: 1px solid #eee;
}